<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../../libs/angular-material/angular-material.min.css">
    <title>WorkPlanner</title>
</head>
<body ng-app="IssueModify" ng-controller='IssueModifyController' layout="column">
    <script src="../../../../libs/angular/angular.js"></script>
    <script src="../../../../libs/angular-animate/angular-animate.js"></script>
    <script src="../../../../libs/angular-aria/angular-aria.js"></script>
    <script src="../../../../libs/angular-material/angular-material.js"></script>
    
        <md-toolbar>
            <div id="home" style="padding: 10px">
                <a href='http://localhost:10010/home' style="color: white">WORK PLANNER</a>
            </div>
        </md-toolbar>
        <div class="container" layout="raw" style="flex: 1">
            <md-sidenav md-is-locked-open="true" style="background-color: #b0b7d9; padding: 10px">
                <md-button ng-href='http://localhost:10010/project/{{projectId}}/{{directoryId}}/{{issueId}}/view'>Back</md-button>
            </md-sidenav>
        
            <md-content id="content" style="flex: 1">

                <form name="issueModifyForm" ng-submit="modifyIssue()" style="border-style: solid; border-width: 2px; padding: 10px">
                    <div class="form-header  blue darken-4">
                        <h3>Edit issue:</h3>
                    </div>

                    <div class="md-form">
                        <input type="text" id="form2" class="form-control" ng-model="issue.title">
                        <label for="form2">Issue title (required)</label>
                    </div>

                    <div class="md-form">
                        <textarea id="form4" class="form-control" ng-model="issue.description"></textarea>
                        <label for="form4">Issue description</label>
                    </div>

                    <div class="md-form">
                        <select id="form2" class="form-control" ng-model="issue.status">
                            <option value="Open">Open</option>
                            <option value="In analysis">In analysis</option>
                            <option value="Assigned to development">Assigned to development</option>
                            <option value="In development">In development</option>
                            <option value="Ready for code review">Ready for code review</option>
                            <option value="In code review">In code review</option>
                            <option value="Ready for testing">Ready for testing"</option>
                            <option value="In testing">In testing</option>
                            <option value="Ready to merge">Ready to merge</option>
                            <option value="Merged">Merged</option>
                            <option value="Verified">Verified</option>
                            <option value="Closed">Closed</option>
                        </select>
                        <label for="form2">Status (required)</label>
                    </div>

                    <div class="md-form">
                        <select id="form2" class="form-control" ng-model="issue.priority">
                            <option value="Minor">Minor</option>
                            <option value="Normal">Normal</option>
                            <option value="Major">Major</option>
                            <option value="Catastrophic">Catastrophic</option>
                        </select>
                        <label for="form2">Priority</label>
                    </div>

                    <div class="md-form">
                        <select id="form2" class="form-control" ng-model="issue.tag">
                            <option value="Bug">Bug</option>
                            <option value="Development">Development</option>
                            <option value="Improvement">Improvement</option>
                            <option value="Refactor">Refactor</option>
                        </select>
                        <label for="form2">Tag (required)</label>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Save" class="btn" style="background-color: green" />
                    </div>
                </form>

            </md-content>
        </div>

    <script type="text/javascript">

        angular.module('IssueModify',['ngMaterial', "ng", "ngAnimate", "ngAria"])
        .controller('IssueModifyController', function($scope, $http, $window, $location){
            $scope.projectId = $location.absUrl().split('/').slice(-4)[0];
            $scope.directoryId = $location.absUrl().split('/').slice(-3)[0];
            $scope.issueId = $location.absUrl().split('/').slice(-2)[0];

            $http.get('http://localhost:10010/project/' + $scope.projectId + '/' + $scope.directoryId + '/' + $scope.issueId)
            .then(function(response){
                $scope.issue = response.data
            });

           $scope.modifyIssue = function() {

                $http.put("http://localhost:10010/project/" + $scope.projectId + '/' + $scope.directoryId + '/' + $scope.issueId, $scope.issue)
                .then(function(response){
                    $window.location.href = 'http://localhost:10010/project/' + response.data.idProject + '/' + response.data.idDirectory + '/' + response.data.id + '/view';
                });
            };

        })
    </script>

</body>
</html>

